html, body{
		
		margin: 0;
		padding: 0;
}
body{
	background: linear-gradient(rgb(16, 79, 134), rgb(163, 255, 193));
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Open Sans', sans-serif;
	overflow: auto;

}
*:focus{
	outline: none;
}
*{
	text-decoration: none;
	list-style: none;
}
a.back-button{
	position: absolute;
	left: 15px;
	top: 15px;
	font-size: 30px;
	border-bottom: 1px solid white;
	color: white;
	transition: border-color .3s;
}
a.back-button:hover{
	border-color: transparent;
}
.centered-div{
	position: relative;
	width: 70%;
	margin-left: 15%;
	margin-top: 100px;
	
}
#map-cj,
#map-sj {
		position: relative;
		height: 38%;
		width: 90%;
		margin-left: 5%;
}
.leftside-div,
.rightside-div{
	position: relative;
	width: 50%;
	height: 80%;
	top: 10%;
	float: left;
}

.leftside-div h2,
.rightside-div h2{
	color: #fff;
	margin-left: 10%;
}
.rightside-div h2{
	margin-left: 10%;
}
form{
	height: 100%;
}
div.input-div{
	position: relative;
	width: 80%;
	margin-left: 10%;
	height: 90px;
	background-color: rgba(255, 255, 255, .2);
	margin-top: 20px;
}
div.input-div label{
	position: absolute;
	width: 100%;
	color: #fff;
	margin-top: 15px;
	margin-left: 1.5%;
	font-size: 15px;	
}
div.input-div input,
textarea{
	position: relative;
	width: 95%;
	padding: 10px 0 10px 10px;
	margin-left: 1.5%;
	margin-top: 40px;
	border: none;

}
.input-div.textarea-div{
	height: 205px;
}
textarea{
	height: 130px;
	resize: none;
	overflow-x: hidden;
}
input.send-message-button{
	position: relative;
	border: 2px solid rgba(255, 255, 255, .5);
	padding: 10px 15px;
	color: #fff;
	margin-left: 10%;
	margin-top: 10px;
	background-color: transparent;
	font-size: 20px;
	transition: all .3s;
}
input.send-message-button:hover{
	color: rgb(163, 255, 193);
	background-color: #fff;
	border-color: #fff;
	cursor: pointer;
}
.rightside-div h2{

}
div.location-div,
div.media-links-div{
	position: relative;
	margin-top: 20px;
	width: 80%;
	height: 550px;
	margin-left: 5%;
	background-color: rgba(255, 255, 255, .2);
}
h4.map-label{
	position: relative;
	color: #fff;
	margin-left: 5%;
	padding-top: 10px;
	margin-bottom: 10px;
}
div.info-div{
	position: absolute;
	width: 250px;
	left: 105%;
	background-color: rgba(255, 255, 255, .2);
}
div.cluj-info{
	top: 40px;
	font-size: 15px;
	color: #fff;
	overflow: hidden;
	height: 0;
	transition: height .2s;
}
div#map-cj:hover ~ div.cluj-info{
	height: 200px;
}
div.cluj-info h4,
div.zalau-info h4{
	margin-left: 5px;
	text-align: center;
}
div.zalau-info{
	bottom: 27px;
	font-size: 15px;
	color: #fff;
	overflow: hidden;
	height: 0;
	transition: height .2s;
}
div#map-sj:hover ~ div.zalau-info{
	height: 200px;
}
div.media-links-div{
	height: 75px;
}
ul.white-links-container{
	position: absolute;
	margin: 0;
	width: 90%;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}
ul.white-links-container li{
	position: relative;
	display: inline-block;
	width: 18%;
	height: 80%;
}
ul.white-links-container li div{
	position: relative;
	height: 50px;
	width: 50px;
	background-color: #fff;
	margin-top: 4px;
	top: 50%;
	border-radius: 50%;
	transition: background-color .3s;
	
}
ul.white-links-container li div i{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 25px;
	transition: color .3s;
}
ul.white-links-container li div i.fb-i{
	color: #3b5999;
}
ul.white-links-container li div i.tw-i{
	color: #55acee;
}
ul.white-links-container li div i.gp-i{
	color: #dd4b39;
}
ul.white-links-container li div i.pi-i{
	color: #bd081c;
}
ul.white-links-container li div i.ln-i{
	color: #0077B5;
}
div.fb-logo{
	border: 2px solid #3b5999;
}
div.tw-logo{
	border: 2px solid #55acee;
}
div.gp-logo{
	border: 2px solid #dd4b39;
}
div.pi-logo{
	border: 2px solid #bd081c;
}
div.ln-logo{
	border: 2px solid #0077B5;
}
div.ln-logo:hover{
	background-color: #0077B5;
}
div.ln-logo:hover i.ln-i{
	color: #fff;
}
div.gp-logo:hover{
	background-color: #dd4b39;
}
div.gp-logo:hover i.gp-i{
	color: #fff;
}
div.tw-logo:hover{
	background-color: #55acee;
}
div.pi-logo:hover{
	background-color: #bd081c;
}
div.pi-logo:hover i.pi-i{
	color: #fff;
}
div.tw-logo:hover i.tw-i{
	color: #fff;
}
div.fb-logo:hover{
	background-color: #3b5999;
}
div.fb-logo:hover i.fb-i{
	color: #fff;

}
@media only screen and (max-width: 1440px){
	div.centered-div{
		width: 85%;
		margin-left: 0;
		margin-top: 100px;
	}
	
	div.info-div h4{
		font-size: 12px;
		width: 80%;
		margin-left: 10%
	}
	div.location-div,
	div.media-links-div{
		margin-left: 0;
	}
}
@media only screen and (max-width: 1130px){
	div.centered-div{
		margin-left: 10%;
	}
	div.leftside-div{
		position: relative;
		width: 100%;
		margin-top: 100px;
	}
	div.rightside-div{
		position: relative;
		width: 100%;
		margin-top: 100px;

	}
	div.location-div{
		height: 100%;
	}
	div.rightside-div div.location-div{
		width: 80%;
		margin-left: 10%;
	}

	div.info-div.cluj-info,
	div.info-div.zalau-info{
		position: relative;
		height: 200px;
		width: 90%;
		left: 5%;
		background-color: transparent;

	}
	div.info-div.zalau-info{
		margin-top: 50px;
	}
	div#map-cj,
	div#map-sj{
		height: 300px;
	}

	div.media-links-div{
		width: 80%;
		left: 10%;
		margin-bottom: 100px;
	}
}